Package: com.owner.powertools4s
Name: 4SPowerTools
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Power options for iPhone 4S on iOS 6.
Maintainer: Owner
Author: Owner
Section: Tweaks
